<!DOCTYPE html>
<html>
  <head>

    <title>WELCOME TO ANIME APP</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>WELCOME TO ANIME APP </h1>
    <a href="/animes">login</a>
    

  </body>
</html>
