<!DOCTYPE html>
<html lang="en">
<head>
    <title>form</title>
</style>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

    <h1>Register</h1>
    <form method="POST">
        <label>Name : </label>
        <input type="text" placeholder="Ex. diaz" required pattern="[a-zA-Z]{8,}" /><br><br>


        <label>Email : </label>
        <input type="email" placeholder="diaz@gmail.com"required><br><br>

        <label>Password : </label>
        <input type="password" placeholder="123124" /> <br><br>


        <label>gender : </label> <br><br>
        <label>male </label>
        <input class="label" type="radio" name="gender" value="male"/> <br><br>

        <label>female </label>
        <input class="label" title="female" type="radio" name="gender" value="female"/> <br><br>
 
        <label>Attach Avatar : </label> 
        <input type="file" accept="image/x-png,image/gif,image/jpeg" name="secret document"/><br><br><br><br>

   
        <input type="submit" value="adeada" onclick="document.location='index.js'" />

       
    </form>

</body>

</html>
